utils/serial/*
!utils/serial/include
!utils/serial/src
!utils/serial/binding.gyp
!utils/serial/CMakeLists.txt
!utils/serial/unity
!utils/voiceCommand/build/build-release.js
build/
node_modules/
package-lock.json
config.json
persistent.json

*.obj

*.exe

src/osx/voice-command/build
.bin/


# User-specific files
*.DS_Store
*.suo
*.sln.ide/
*.user
*.userosscache
*.sln.docstates
*.plist
*.xccheckout
!utils/voiceCommand/src/osx/voice-command/voice-command.xcodeproj/project.xcworkspace/xcuserdata/baluubas.xcuserdatad
!utils/voiceCommand/src/osx/voice-command/voice-command.xcodeproj/xcuserdata/baluubas.xcuserdatad
*.xcuserdatad

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

*.lock

*.ide

*.ide-shm

*.ide-wal

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
firmware/src/config
firmware/include/config

legacy/
.idea
.vscode