* {
    margin:0;
    padding:0;
    overflow: hidden;
}
html,body {
    height:100%;
    width:100%;
}
body {
    display:table;
}
div {
    width:100%;
    display:table-row;
}
div + div {
    height:100%;  
}